@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

.search {
  display: flex;
  flex-direction: column;
  gap: 35px;
  /* width: 500px; */
  text-align: center;
  margin-top: 200px;
}

.octo-cat {
  font-size: 5rem;
  color: #1b1e20;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

label {
  font-size: 2.6rem;
  font-weight: 500;
  color:lightseagreen;
}

input {
  font-size: 28px;
  font-weight: 400;
  color: #4993e7;
  text-align: center;
  padding: 15px;
  width: 100%;
  background-color: #26303c;
  border: none;
  border-radius: 5px;
}

input:focus {
  outline: none;
}