header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.header-octo-cat {
  font-size: 2rem;
  color: #baad61;
}

li {
  list-style: none;
}
.nav-link {
  display: flex;
  gap: 10px;
  color: #02274b;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: #79b8ff;
  }
}