.user-out-put {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  gap: 15px;
  padding-top: 150px;
}

.user-avatar {
  border: 8px solid #00f324;
  border-radius: 50%;
  width: 28%;
  height: auto;
}

.username {
  font-size: 24px;
  font-weight: 500;
  color:red;
}

.profile-name {
  font-size: 40px;
  font-weight: 500;
  color:lightgreen;
}
.user-information {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.user-information h3 {
  color: #f6f8fa;
  font-weight: 400;
}

.cards {
  display: flex;
  padding: 10px;
  gap: 20px;
}

.inner-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px;
  color: #529fec;
  background-color: #3a3218;
  width: 160px;
  border-radius: 5px;
}

.inner-cards h3 {
  font-size: 24px;
  font-weight: 400;
}

.inner-cards p {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;

  min-height: 100vh;
}

.error h1 {
  color: #70afef;
  padding-bottom: 30px;
}